<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <div class="row">
                    <h3></h3>
                    <img src="" alt="" class="pull-left" style="max-height: 50px;">
                    <div class="col-xs-5 pull-right">
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger" style="margin-left: 2px;">Delete</button>
                    </div>
                </div>                
            </div>
            <div class="panel panel-body">
                <p><strong>Email:</strong></p>
                <p><strong>Phone:</strong></p>
            </div>
        </div>
    </div>
</div>