<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row" style="padding-left: 5px">
                   <h2 class="pad-left-right">Contacts</h2>
                </div>
                <div class="row" style="padding-left: 5px; padding-right:5px">
                   <div class="input-group pull-left pad-left-right col-xs-7">
          
                      <input type="text" #searchBox (keyup)="search(searchBox.value)" placeholder="Enter a search value" class="form-control">
          
                      <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
                   </div>
                   <div class="pull-right pad-left-right">
                   <a class="btn btn-success" [routerLink]="['new']" >New Contact</a>
                </div>
                </div>
                
             </div>
            <!-- <div class="panel-heading">
                <div class="row">
                    <h2 class="col-xs-4">Contacts</h2>
                <button class="btn btn-success pull-right col-xs-3" style="margin: 14px" routerLink="new">New Contact</button>
                </div>
            </div> -->
            <div class="panel-body" >
                    <div class="col-xs-12">
                        <cms-contact-item
                            *ngFor="let contactEl of contacts | contactsFilter: term" 
                            [contact]="contactEl"    
                            dnd-draggable [dragEnabled]="true" [dragData]="contactEl" [dropZones]="['contactGroup']"                   
                        ></cms-contact-item>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
